<div class="images-page">
  <button class="images-page__btn-back" [routerLink]="['/' + currentUrl]" (click)="scrollToTop()">< Volver</button>
  <div class="images-page__data">
    <p>{{ info.description }}</p>
    <p>{{ info.name }}</p>
  </div>
  <div class="gallery">
    @if (photoFiles.length === 0) {
    <p class="no-info">Aún no hay imágenes, recarga o vuelve a intentarlo más tarde</p>
    } @else { @for (photo of photoFiles; track photo.id; let idx = $index) {
    <div class="box" (click)="openViewer(idx)">
      <img #imageElement [ngSrc]="photo.thumbnailLink" alt="" fill />
    </div>
    } }
  </div>
  <button id="btnToTop" class="images-page__toTop" (click)="scrollToTop()">&#8593;</button>
</div>
@if (isViewerOpen) {
<div class="viewer" (wheel)="onWheel($event)">
  <a class="contact" (click)="closeViewer()" [routerLink]="['/contact-me']" [queryParams]="{ toGetImage: true }"
    >Obtener imagen<img src="assets/imgs/download-icon.svg" alt="Contact button" width="20"
  /></a>
  <span class="close" (click)="closeViewer()">&times;</span>
  <img [src]="photoFiles[currentImageIndex].thumbnailLink" alt="Image Viewer" id="viewer-image" [style.transform]="'scale(' + zoomScale + ')'" />
  @if (currentImageIndex !== 0) {
  <button class="prev" (click)="prevImage()">&#10094;</button>
  } @if (currentImageIndex !== photoFiles.length - 1) {
  <button class="next" (click)="nextImage()">&#10095;</button>
  }
</div>
} @if (isLoading) {
<app-loader></app-loader>
}
