.images-page {
  min-height: 100vh;
  margin-top: 5rem;
  padding: 0.5rem 1.5rem;
  &__btn-back {
    font-family: "DMSans";
    font-size: 15px;
    color: black;
    font-weight: 200;
    letter-spacing: 0.5px;
    background-color: white;
    border: none;
    padding: 0;
    border-bottom: 0.5px solid black;
    line-height: 1.5rem;
  }
  &__data {
    font-family: "DMSans";
    font-size: 20px;
    color: black;
    font-weight: 200;
    letter-spacing: 0.5px;
    text-align: center;
  }
  .box {
    position: relative;
    aspect-ratio: 3/2;
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      cursor: pointer;
      -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    }
  }
}
