<div class="contact-me">
  <form class="contact-me__form" [formGroup]="mailForm" (ngSubmit)="sendEmail()">
    <h2>Contacta conmigo</h2>
    <label for="email">Email</label>
    <input type="email" formControlName="email" (input)="mailForm.get('email')?.markAsUntouched()" />
    @if (mailForm.get('email')?.hasError('email') && mailForm.get('email')?.touched) {
    <small class="contact-me__form__error">El email no es valido</small>
    }
    <label for="subject">Asunto</label>
    <input type="text" formControlName="subject" />
    <label for="comments">Mensaje</label>
    <textarea formControlName="message"></textarea>
    <div class="contact-me__form__divButton">
      <button type="submit" [disabled]="!mailForm.valid">Enviar</button>
    </div>
  </form>
  <div class="contact-me__wa">
    <p>o a través de</p>
    <a href="https://wa.me/+34641649329?text=Hola%20retratos%20tronki%21%20Te%20contactaba%20para..." target="_blank">
      <img src="assets/imgs/whatsapp-icon.svg" width="35" alt="Whatsapp" />
    </a>
  </div>
</div>

@if (isEmailSend || isEmailKO) {
<app-modal
  [icon]="isEmailSend ? 'ok' : 'error'"
  [text]="isEmailSend ? 'Mensaje enviado correctamente' : 'Se ha producido un error, vuelva a intentarlo más tarde'"
  (closeModal)="isEmailSend = false; isEmailKO = false"
></app-modal>
} @if (imgContact) {
<app-modal [text]="'Contáctame para obtener tu imagen y la recibirás en máxima calidad y sin marca de agua, ¡GRATIS!'"></app-modal>
} @if (isLoading) {
<app-loader></app-loader>
}
