<div class="street-photography">
  <nav class="street-photography__nav">
    <ul>
      @for (item of menuItems; track $index) {
      <li (click)="filter(item)" [class.active]="activeTab === item">
        {{ item }}
      </li>
      }
    </ul>
  </nav>
  @for (folder of photoFoldersFiltered; track $index) {
  <div class="box">
    <img [src]="folder.thumbnailLink" alt="" />
    <div class="box__text">
      <p>{{ folder.description }}</p>
      <p>{{ folder.name }}</p>
    </div>
  </div>
  }
</div>
