<div class="street-photography">
  <nav class="street-photography__nav">
    <ul>
      @for (item of menuItems; track $index) {
      <li (click)="filter(menuItems[$index])" [class.active]="activeTab === menuItems[$index]">
        {{ menuItems[$index] }}
      </li>
      }
    </ul>
  </nav>
  @for (folder of photoFoldersFiltered; track $index) {
  <div class="box">
    <img [src]="'assets/imgs/' + folder.image" alt="" />
    <div class="box__text">
      <p>{{ folder.location }}</p>
      <p>{{ folder.date }}</p>
    </div>
  </div>
  }
</div>
