<div class="street-photography">
  <nav class="street-photography__nav">
    <ul>
      @for (item of menuItems; track $index) {
      <li (click)="filter(item)" [class.active]="activeTab === item">
        {{ item }}
      </li>
      }
    </ul>
  </nav>
  @for (folder of photoFoldersFiltered; track folder.id; let idx = $index) {
  <div class="box">
    <img [src]="folder.thumbnailLink" alt="" (error)="onImageError($event, photoFoldersFiltered[idx])" />
    <div class="box__text" [class.no-preview]="folder.thumbnailLink === IMAGE_NO_PREVIEW">
      <p>{{ folder.description }}</p>
      <p>{{ folder.name }}</p>
    </div>
  </div>
  }
</div>
@if (isLoading) {
<app-loader></app-loader>
}
