<div id="header" class="header" [ngClass]="{ top: isTop }">
  <img src="assets/imgs/retratostronki-logo2.webp" height="80px" alt="Retratos Tronki Logo" [routerLink]="'/'" (click)="scrollToTop('/')" />
  <h1>RETRATOS TRONKI</h1>
  <div id="nav-icon" (click)="toggleNavIcon()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div id="menu">
  <nav>
    @for (item of menuItems; track item.route) {
    <div class="item">
      <a (click)="toggleNavIcon(); scrollToTop(item.route)" [routerLink]="item.route">{{ item.title }}</a>
    </div>
    }
  </nav>
  <div class="social-media">
    <a href="https://www.instagram.com/retratostronki/" target="_blank">
      <img src="assets/imgs/instagram-icon.svg" width="40" alt="Instagram" />
    </a>
    <a href="https://www.youtube.com/@retratostronki-m5s" target="_blank">
      <img src="assets/imgs/youtube-icon.svg" width="40" alt="Whatsapp" />
    </a>
  </div>
</div>
