.footer {
  height: 13rem;
  gap: 0.5rem;
  display: grid;
  align-content: center;
  padding: 0 1rem;
  &__develop {
    font-family: "DMSans";
    color: #a5a5a5;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    a {
      color: #a5a5a5;
    }
    &__logo {
      margin: 0 8px;
    }
  }
  &__copyrigth {
    font-family: "DMSans";
    color: #a5a5a5;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
