<div class="about-me">
  <img src="assets/imgs/profile.webp" alt="Profile photo" />
  <div class="about-me__professional">
    <h1>Jose Aguirre</h1>
    <p>FOTOGRAFÍA DEPORTIVA</p>
  </div>
  <div class="about-me__description">
    <p>
      Soy un chaval de 14 años aficionado al mundo del motor y la fotografía. Siempre he tenido una gran afición a las motos y los coches, y hace poco
      más de un año me empecé a aficionar a la fotografía, y qué mejor que juntar dos de tus cosas favoritas y poder sacar grandes resultados y
      disfrutar de lo que más te gusta junto.
    </p>
    <p>
      En Retratos Tronki, hacemos sesiones de fotos privadas, cubrimos eventos como fotógrafo en ruta normalmente, hago fotografía en calle y a veces
      también en circuito. Generalmente dentro del mundo del motor hago un poco de todo. Desde hacer fotos a motos en un circuito a coches todoterreno
      por el campo. Lo que más me gusta de todo esto es poder hacer feliz a la gente haciéndoles llegar una foto de ellos ya sea en su coche o moto.
    </p>
  </div>
</div>
